@content-width: 1120px;
.centered-block(@content-width) {
  max-width: @content-width;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.font-size(@sizeValue) {
  @remValue: (@sizeValue / 10);
  @pxValue: @sizeValue;
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";
}
html {
  font-size: 62.5%;
  @media only screen and (max-width: 768px) {
    font-size: 45%;
  }
}
body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  .font-size(15);
  font-weight: 500;
}
.content {
  .centered-block(@content-width);
}
.el-container {
  &--first {
    background: url("../img/bg1.jpg") right bottom no-repeat #1c1634;
    color: #e2d6ff;
    padding: 0 0 340px;
  }
  &--second {
    color: #4b4b4b;
    padding: 150px 0 45px;
    p {
      margin-bottom: 25px;
    }
  }
  &--third {
    background: url("../img/bg2.png") center top no-repeat #fff;
    color: #4b4b4b;
    padding: 110px 0 185px;
    @media only screen and (max-width: 768px) {
      padding: 50px 0 185px;
      .distrib-description {
        margin-bottom: 40px !important;
      }
    }
  }
  &--fourth {
    padding: 0 0 80px 0;
  }
  &--fiveth {
    background: url("../img/bg3.png") center top no-repeat transparent;
    background-color: #0e0e0e;
    color: #e2d6ff;
    padding: 180px 0 80px;
    .content {
      max-width: 560px;
    }
    .button {
      padding: 15px 0;
      text-align: center;
      margin-bottom: 16px;
    }
  }
  @media only screen and (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }
  &--main {
    padding: 0;
    overflow: hidden;
  }
}
header {
  width: 100%;
  margin-bottom: 100px;
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.logo {
  height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  @media only screen and (max-width: 768px) {
    justify-content: center;
  }
  .font-size(30);
  &_img {
    margin: 0 20px 0 0;
  }
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media only screen and (max-width: 768px) {
    flex-flow: wrap;
    justify-content: center;
  }
  &_item {
    display: block;
    color: #fff;
    font-weight: 500;
    padding: 10px;
    &__invest {
      color: #f9962e;
      i {
        transform: rotate(-90deg);
        margin-left: 15px;
      }
    }
    &:hover {
      color: #f9962e;
    }
  }
}
.lang-selector-container {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}
.lang-item {
  color: #fff;
  background-color: #2a214c;
  display: inline-block;
  padding: 7px 25px;
  margin-right: 1px;
  &:first-child {
    border-radius: 8px 0 0 8px;
  }
  &:last-child {
    border-radius: 0 8px 8px 0;
    border: none;
  }
  &:hover {
    color: #fff;
  }
  img {
    margin-left: 20px;
  }
}

.el-main {
  padding: 0;
  overflow: visible;
}
.title-main{
  .font-size(37);
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}
.title-main-huge{
  .font-size(40);
  font-weight: 500;
  color: #000;
  margin-bottom: 25px;
  &--white {
    color: #fff;
  }
}
.project-description {
  margin-bottom: 25px;
  p {
    display: inline-block;
    max-width: 600px;
  }
}
.button-group {
  margin-bottom: 40px;
  &:after {
    content: '';
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    width: 100px;
    margin: 60px auto 0;
  }
  .button {
    margin-right: 15px;
  }
}
.white-block {
  padding: 65px;
  background-color: #fff;
  color: #4b4b4b;
  box-shadow: 0px 3px 9px rgba(0,0,0,0.23);
  border-radius: 8px;
  position: absolute;
  bottom: -400px;
  left: 0;
  z-index: 1;
}
.smart-contract {
  max-width: 444px;
}
.advantage {
  margin-bottom: 25px;
}
p {
  line-height: 1.75;
  margin-bottom: 15px;
}
.text-purple {
 color: #6f0ff4;
  &--dark-bold {
    color: #311c4e;
    font-weight: bold;
    margin: 20px 0 10px !important;
  }
}

.text-center {
  text-align: center;
}
.button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: .1s;
  user-select: none;
  padding: 15px 20px;
  border-radius: 4px;
  .font-size(15);
  &--default {
    background: #f9962e;
    border: 1px solid #f9962e;
    color: #fff;
    margin-bottom: 10px;
    &:hover {
      color: #f9962e;
      background: transparent;
    }
    &:focus {
      color: #f9962e;
    }
    &:active {
      color: #f9962e;
    }
  }
  &--full-width {
    width: 100%;
  }
  &--invest {
    background: #fff;
    border: 1px solid #fff;
    color: #1d2437;
    margin-bottom: 10px;
    &:hover {
      color: #fff;
      background: transparent;
    }
    &:focus {
      color: #fff;
    }
    &:active {
      color: #fff;
    }
  }
  &--contract {
    border: 1px solid #f9962e;
    color: #f9962e;
    background: rgba(249, 150, 46, 0.05);
    &:hover {
      background: #f9962e;
      color: #fff;
    }
    &:focus {
      color: #f9962e;
    }
    &:active {
      color: #f9962e;
    }
  }
}
.stats {
  margin-top: 30px;
}
.stat-item-amount {
  .font-size(37);
  font-weight: 500;
}
.distrib-description {
  margin-bottom: 70px !important;
}
.percentage {
  .font-size(25);
  font-weight: 500;
  color: #000;
  line-height: 1;
  position: relative;
  top: 20px;
  &--blue {
    position: relative;
    top: -170px;
    padding-right: 160px;
    text-align: right;
    @media only screen and (max-width: 768px) {
      padding-right: 60px;
    }
    @media only screen
      and (min-device-width : 375px)
      and (max-device-width : 667px){
        padding-right: 40px;
      }
  }
}
.percent-description {
  .font-size(18);
  font-weight: 300;
}
.point {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #642fb1;
  border-radius: 100%;
  margin-right: 20px;
  &--orange {
    background-color: #ea9b0d;
  }
}
.percent {
  font-weight: 500;
  color: #000;
  float: right;
}

.el-collapse {
  border: none;
}
.el-collapse-item {
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.06);
  &__header {
    padding: 20px 30px;
    color: #652fb1;
    .font-size(18);
    font-weight: bold;
    line-height: 1;
    height: auto;
    border: none;
  }
  &__arrow {
    display: none;
  }
  &__content {
    padding: 0 30px 25px;
    color: #1d2437;
    .font-size(15);
  }
  &__wrap {
    border: none;
  }
}
.contract-address {
  padding: 10px 20px;
  .font-size(18);
  font-weight: 500;
  border: 1px solid #f7962d;
  border-radius: 4px;
  display: inline-block;
  word-break: break-all;
  text-align: center;
  margin: 20px 0 30px 0;
}
.clear-link {
  color: #fff;
  text-decoration: none;
}
a {
  &:hover {
    color: #f9962e;
  }
}
footer {
  padding: 50px 0;
  text-align: center;
  color: #fff;
  background-color: #0e0e0e;
}
.el-dialog {
  width: 100vw;
  max-width: 500px;
  word-break: break-all;
}

.telegram-link {
  margin: 5px 0 0 -20px;
  @media only screen and (max-width: 768px) {
    margin: 5px 0 0 0px;
  }
  img {
    height: 30px;
    width: 30px;
  }
}
