<template lang="pug">
  el-container.el-container--main(direction="vertical")
    el-container.el-container--first(direction="vertical")
      header
        .content
          el-row(:gutter="32")
            el-col(:lg="5" :xs="24")
              .logo
                img.logo_img(src="~/assets/img/logo.png")
                span.logo_text Odyssey
            el-col(:lg="19" :xs="24")
              .menu
                a.menu_item(href="#" v-scroll-to="'#about'") About fund
                a.menu_item(href="#" v-scroll-to="'#contrats'") Smart-contract
                a.menu_item(href="#" v-scroll-to="'#distribution'") Fund allocation
                a.menu_item(href="#" v-scroll-to="'#faq'") FAQ
                a.menu_item.menu_item__invest(href="#" v-scroll-to="'#how-to-invest'") Invest
                  i.el-icon-back
                a.telegram-link(href="https://t.me/odysseyfond" target="_blank")
                  img(alt="https://t.me/odysseyfond" title="https://t.me/odysseyfond" src="~/assets/img/telegram.svg")
      .content(style="position: relative;")#about
        el-row(:gutter="32")
          el-col.lang-selector-container(:xs="24")
            nuxt-link.lang-item(v-for="(lang, key) in languages" :to="lang.route" :key="key") {{ lang.title }}
              img(:src="lang.icon")
          el-col.text-center(:xs="24")
            h1.title-main Odyssey ‒ smart-contract
            .project-description
              p This is a unique project for investing cryptocurrency Ethereum and getting a daily profit of 1% per day of your deposit
            .button-group(:gutter="32")
              a.button.button--contract(:href="seeContractLink" target="_blank") Smart-contract
              a.button.button--default(href="#" v-scroll-to="'#how-to-invest'") Invest
            p
              b Odyssey in figures:
            el-row.stats(:gutter="32")
              el-col(:span="7" :offset="5")
                .stat-item
                  .stat-item-amount {{ ethereum }}
                  p ETH on the balance sheet
              el-col(:span="7")
                .stat-item
                  .stat-item-amount {{ usd }}
                  p USD on the balance sheet
        .white-block
          el-row(:gutter="32")
            el-col.text-center(:xs="24")
              p This is a unique project for investing cryptocurrency
                span.text-purple  Ethereum
                |  and getting a daily profit of
                span.text-purple  1% per day
                |  of your deposit
              p Smart contract established and registered in Ethereum Blockchain system and can
                span.text-purple  not be modified or deleted.
    el-container.el-container--second#contrats
      .content
        el-row(:gutter="32")
          el-col(:span="12" :xs="24")
            .smart-contract
              h1.title-main-huge What is a
                br
                | smart contract?
              p This is a program code written on the ethereum network. His logic is simple and unbreakable, and it is impossible to crack it.
              p The smart contract distributes the entire invested ethereum among the participants. This is its only function and
                b.text-purple  no one can change it,
                |  due to the "refusal of ownership".
              p This means that no one can change, hack or edit the program code, which gives full security to each ETH on the wallet.
              a.button.button--default(href="#" v-scroll-to="'#how-to-invest'") Invest
          el-col(:span="12" :xs="24")
            el-row(:gutter="16")
              el-col.advantage(:span="12" style="margin-top: 60px")
                img(src="~/assets/img/1.png")
                p.text-purple.text-purple--dark-bold High yield
                p Smart contract charges daily 1% of your deposit
              el-col.advantage(:span="12" style="margin-top: 60px")
                img(src="~/assets/img/4.png")
                p.text-purple.text-purple--dark-bold The contract can not be changed
                p It makes your funds completely safe
            el-row(:gutter="16")
              el-col.advantage(:span="12")
                img(src="~/assets/img/3.png")
                p.text-purple.text-purple--dark-bold Distribution of funds
                p 90% of all funds go to payments, and 10% go to development and marketing
              el-col.advantage(:span="12")
                img(src="~/assets/img/2.png")
                p.text-purple.text-purple--dark-bold Full transparency
                p The smart contract is open source, anyone can see it
    el-container.el-container--third#distribution
      .content
        el-row
          el-col(:xs="24")
            h1.title-main-huge How the fund is distributed
            p.distrib-description This is a program code written on the ethereum network.
              br
              | His logic is simple and unbreakable, and it is impossible to crack it.
        el-row(type="flex" align="middle" style="flex-flow:wrap")
          el-col(:span="12" :xs="24")
            .percentage 10%
            img(src="~/assets/img/diagr.png")
            .percentage.percentage--blue 90%
          el-col(:span="12" :xs="24")
            p.percent-description
              span.point
              |  payments to depositors
              span.percent  90%
            p.percent-description
              span.point.point--orange
              |  marketing and development
              span.percent  10%
    el-container.el-container--fourth#faq
      .content
        el-row(:gutter="32")
          el-col(:span="24")
            h1.title-main-huge.text-center Frequently asked questions
            p.distrib-description.text-center This is a program code written on the ethereum network.
              br
              | His logic is simple and unbreakable, and it is impossible to crack it.
            el-collapse(accordion v-model="activeAccord")
              el-collapse-item(v-for="(question, i) in questions" :key="i" :title="question.quest" :name="''+i")
                p {{question.answer}}
    el-container.el-container--fiveth#how-to-invest
      .content
        el-row(:gutter="32"  style="margin-bottom: 30px")
          el-col(:span="24")
            h1.title-main-huge.title-main-huge--white.text-center How to make an investment?
            p.text-center Send ETH with purse on smart-contract address
            p.text-center
              span.contract-address {{ contractAddress }}
            p Recommended gas limit: 300000, the actual gas price 6 Gwei, can be taken
              a.clear-link(href="https://ethgasstation.info" target="_blank")  ethgasstation.info
            p
              b It is not allowed to transfer exchanges, only with your personal ETH purse, from which you have the private key
            p  Ethereum smart contract stores investor purse address and calculates its owner 1% each ay of the amount of your contribution
        el-row(:gutter="16")
          el-col(:span="8" :xs="12")
            a.button.button--contract.button--full-width(@click="createWalletDialog = true") Create wallet
          el-col(:span="8" :xs="12")
            a.button.button--contract.button--full-width(:href="seeContractLink" target="_blank") See contract
          el-col(:span="8" :xs="12")
            a.button.button--contract.button--full-width(@click="investDialog = true") Invest
          el-col(:span="8" :xs="12")
            a.button.button--contract.button--full-width(href="https://www.bestchange.ru/?p=10687" target="_blank") Buy eth
          el-col(:span="8" :xs="12")
            a.button.button--contract.button--full-width Audit
          el-col(:span="8" :xs="12")
            a.button.button--contract.button--full-width(@click="checkTransactionDialog = true") Order a payment
    footer
      p © 2018 Odyssey Found
    el-dialog(:visible.sync="createWalletDialog" :show-close="false")
      p We highly recommend you to use only these wallets in order to create your Ethereum one:
      p Jaxx -
        a(href="https://jaxx.io/" target="_blank") https://jaxx.io/
        br
        | MetaMask -
        a(href="https://metamask.io/" target="_blank") https://metamask.io/
        br
        | MyEtherWallet -
        a(href="https://www.myetherwallet.com/" target="_blank") https://www.myetherwallet.com/
    el-dialog(:visible.sync="investDialog" :show-close="false")
      p Turn least 0.01 ETH to this address:
        br
        | (gas: 300000, gas price: 6 gwei min.)
        br
        | {{contractAddress}}
    el-dialog(:visible.sync="checkTransactionDialog" :show-close="false")
      p You can order the payment of dividends at any convenient time. But not earlier than 24 hours from the moment of the first deposit.
        br
        | For ordering payments, send 0 ETH to the smart contract
        a(:href="seeContractLink" target="_blank") {{contractAddress}}
</template>

<script>
  export default {
    data() {
      return {
        createWalletDialog: false,
        investDialog: false,
        checkTransactionDialog: false,
        ethereum: 0,
        usd: 170,
        contractAddress: '0x6C0954c1885B5267F0D05be42A8C063BDE2f9219',
        activeAccord: '0',
        selectedLang: null,
        languages: {
          ru: {
            icon: require('~/assets/img/ru.png'),
            title: 'Russia',
            route: {
              name: 'index',
            },
          },
          en: {
            icon: require('~/assets/img/us.png'),
            title: 'English',
            route: {
              name: 'english',
            },
          },
        },
        questions: [
          {
            quest: 'Is it safe?',
            answer: 'Smart deal, according to the algorithm which runs the project, loaded into blokcheyn Ethereum ' +
              'with activated "non-possession". This means that no one else has access to it with the ability to ' +
              'influence its autonomous operation.',
          },
          {
            quest: 'What will happen to the project if the developers will be gone?',
            answer: 'The project is initially completely independent and live on the network, developers are not otherwise be able to influence it.',
          },
          {
            quest: 'How to participate in the referral program?',
            answer: 'In the referral program only addresses of the purses of depositors are involved. When you ' +
              'indicate the referrer you will receive 5% of each investment of your referral! Your referral will ' +
              'receive an instant cashback of 5% of the invested amount.\n' +
              'REFERAL WILL BE REWARDED!\n' +
              'To receive a 5% cashback for invitations, the person you invited must enter your wallet address in ' +
              'the data field, after which 5% of the contribution amount of the friend’s friend will be transferred ' +
              'to his wallet.',
          },
          {
            quest: 'How much can you earn?',
            answer: 'You will receive dividends every day, up to a double payback on the amount you initially ' +
              'invested. The maximum profit will be 200% including deposit.\n' +
              'Upon achieving a double payback, you can make a new investment of any amount.',
          },
        ],
      }
    },
    mounted() {
      if (this.$route.name === 'index') {
        this.selectedLang = this.languages.ru;
      } else {
        this.selectedLang = this.languages.en;
      }
      // this.selectedLang = this.languages.ru;
      this.getBalance();
    },
    methods: {
      handleCommand(command) {
        this.$router.push(command.route);
      },
      async getBalance() {
        try {
          const data = await this.$axios.$get(`https://api.etherscan.io/api`, {
            params: {
              module: 'account',
              action: 'balance',
              address: this.contractAddress,
              tag: 'latest'
            },
          });
          if (data.result !== "0") {
            this.ethereum = (+data.result / 1000000000000000000).toFixed(2);
          }
          this.getEthereumPrice();
        } catch (reject) {
          console.log(reject);
        }
      },
      async getEthereumPrice() {
        try {
          const data = await this.$axios.$get(`https://api.etherscan.io/api`, {
            params: {
              module: 'stats',
              action: 'ethprice',
            },
          });
          if (data.result) {
            this.usd = (+data.result.ethusd * this.ethereum).toFixed(2);
          }
        } catch (reject) {
          console.log(reject);
        }
      },
    },
    computed: {
      seeContractLink() {
        return 'https://etherscan.io/address/' + this.contractAddress;
      },
    },
  }
</script>

<style>

</style>

