<template lang="pug">
  el-container.el-container--main(direction="vertical")
    el-container.el-container--first(direction="vertical")
      header
        .content
          el-row(:gutter="32")
            el-col(:lg="5" :xs="24")
              .logo
                img.logo_img(src="~/assets/img/logo.png")
                span.logo_text Odyssey
            el-col(:lg="19" :xs="24")
              .menu
                a.menu_item(href="#" v-scroll-to="'#about'") О фонде
                a.menu_item(href="#" v-scroll-to="'#contrats'") Смарт-контракт
                a.menu_item(href="#" v-scroll-to="'#distribution'") Распределение средств
                a.menu_item(href="#" v-scroll-to="'#faq'") FAQ
                a.menu_item.menu_item__invest(href="#" v-scroll-to="'#how-to-invest'") Инвестировать
                  i.el-icon-back
                a.telegram-link(href="https://t.me/odysseyfond" target="_blank")
                  img(alt="https://t.me/odysseyfond" title="https://t.me/odysseyfond" src="~/assets/img/telegram.svg")
      .content(style="position: relative;")#about
        el-row(:gutter="32")
          el-col.lang-selector-container(:xs="24")
            nuxt-link.lang-item(v-for="(lang, key) in languages" :to="lang.route" :key="key") {{ lang.title }}
              img(:src="lang.icon")
          el-col.text-center(:xs="24")
            h1.title-main Odyssey ‒ smart-contract
            .project-description
              p Это уникальный проект для инвестирования криптовалюты Ethereum и получения ежедневной прибыли в размере 1% в день от вашего депозита
            .button-group(:gutter="32")
              a.button.button--contract(:href="seeContractLink" target="_blank") Смарт-контракт
              a.button.button--default(href="#" v-scroll-to="'#how-to-invest'") Инвестировать
            p
              b Odyssey в цифрах:
            el-row.stats(:gutter="32")
              el-col(:span="7" :offset="5")
                .stat-item
                  .stat-item-amount {{ ethereum }}
                  p ETH на балансе
              el-col(:span="7")
                .stat-item
                  .stat-item-amount {{ usd }}
                  p USD на балансе
        .white-block
          el-row(:gutter="32")
            el-col.text-center(:xs="24")
              p Это уникальный проект для инвестирования криптовалюты
                span.text-purple  Ethereum
                |  и получения ежедневной прибыли в размере
                span.text-purple  1% в день
                |  от вашего депозита
              p Смарт контракт создан и зарегистрирован в системе Ethereum Blockchain  и
                span.text-purple  не может быть изменен или удален.
    el-container.el-container--second#contrats
      .content
        el-row(:gutter="32")
          el-col(:span="12" :xs="24")
            .smart-contract
              h1.title-main-huge Что такое
                br
                | смарт-контракт?
              p В двух словах смарт-контракт это программный код, написанный в сети ethereum. Его логика проста и нерушима, а взломать его невозможно.
              p Смарт-контракт распределяет весь инвестированный ethereum между участниками. Это его единственная функция и её
                b.text-purple  никто не может изменить,
                |  по причине «отказа от владения».
              p Это означает, что никто не может изменить, взломать или отредактировать программный код, что даёт полную безопасность каждого ETH на кошельке.
              a.button.button--default(href="#" v-scroll-to="'#how-to-invest'") Инвестировать
          el-col(:span="12" :xs="24")
            el-row(:gutter="16")
              el-col.advantage(:span="12" style="margin-top: 60px")
                img(src="~/assets/img/1.png")
                p.text-purple.text-purple--dark-bold Высокая доходность
                p Смарт-контракт начисляет ежедневно 1% от вашего депозита
              el-col.advantage(:span="12" style="margin-top: 60px")
                img(src="~/assets/img/4.png")
                p.text-purple.text-purple--dark-bold Контракт нельзя изменить
                p Это даёт полную безопасность ваших средств
            el-row(:gutter="16")
              el-col.advantage(:span="12")
                img(src="~/assets/img/3.png")
                p.text-purple.text-purple--dark-bold Распределение средств
                p На выплаты идут 90% всех средств, а 10% на развитие и маркетинг
              el-col.advantage(:span="12")
                img(src="~/assets/img/2.png")
                p.text-purple.text-purple--dark-bold Полная прозрачность
                p Смарт-контракт имеет открытый код, любой желающий может его посмотреть
    el-container.el-container--third#distribution
      .content
        el-row
          el-col(:xs="24")
            h1.title-main-huge Как распределяются средства фонда
            p.distrib-description В двух словах смарт-контракт это программный код, написанный в сети ethereum.
              br
              | Его логика проста и нерушима, а взломать его невозможно.
        el-row(type="flex" align="middle" style="flex-flow:wrap")
          el-col(:span="12" :xs="24")
            .percentage 10%
            img(src="~/assets/img/diagr.png")
            .percentage.percentage--blue 90%
          el-col(:span="12" :xs="24")
            p.percent-description
              span.point
              |  Выплаты вкладчикам
              span.percent  90%
            p.percent-description
              span.point.point--orange
              |  Маркетинг и развитие
              span.percent  10%
    el-container.el-container--fourth#faq
      .content
        el-row(:gutter="32")
          el-col(:span="24")
            h1.title-main-huge.text-center Часто задаваемые вопросы
            p.distrib-description.text-center В двух словах смарт-контракт это программный код, написанный в сети ethereum.
              br
              | Его логика проста и нерушима, а взломать его невозможно.
            el-collapse(accordion v-model="activeAccord")
              el-collapse-item(v-for="(question, i) in questions" :key="i" :title="question.quest" :name="''+i")
               p {{question.answer}}

    el-container.el-container--fiveth#how-to-invest
      .content
        el-row(:gutter="32"  style="margin-bottom: 30px")
          el-col(:span="24")
            h1.title-main-huge.title-main-huge--white.text-center Как сделать инвестицию?
            p.text-center Отправьте ETH с кошелька на адрес смарт-контракта
            p.text-center
              span.contract-address {{ contractAddress }}
            p Рекомендуемый gas limit: 300000, актуальный gas price 6 Gwei, можно взять с
              a.clear-link(href="https://ethgasstation.info" target="_blank")  ethgasstation.info
            p
              b Не допускается перечисления с бирж, только с вашего личного
                br
                | ETH кошелька, от которого у Вас есть приватные ключи
            p  Ethereum смарт контракт запоминает адрес кошелька инвестора и начисляет его владельцу 1% каждый день от суммы вашего вклада
        el-row(:gutter="16")
          el-col(:span="8" :xs="12")
            a.button.button--contract.button--full-width(@click="createWalletDialog = true") Cоздать кошелек
          el-col(:span="8" :xs="12")
            a.button.button--contract.button--full-width(:href="seeContractLink" target="_blank") Смарт-контракт
          el-col(:span="8" :xs="12")
            a.button.button--contract.button--full-width(@click="investDialog = true") Как инвестировать
          el-col(:span="8" :xs="12")
            a.button.button--contract.button--full-width(href="https://www.bestchange.ru/?p=10687" target="_blank") Купить эфир
          el-col(:span="8" :xs="12")
            a.button.button--contract.button--full-width Аудит
          el-col(:span="8" :xs="12")
            a.button.button--contract.button--full-width(@click="checkTransactionDialog = true") Заказать выплату
    footer
      p © 2018 Odyssey Found
    el-dialog(:visible.sync="createWalletDialog" :show-close="false")
      p Мы настоятельно рекомендуем использовать только эти кошельки
      p Jaxx -
        a(href="https://jaxx.io/" target="_blank") https://jaxx.io/
        br
        | MetaMask -
        a(href="https://metamask.io/" target="_blank") https://metamask.io/
        br
        | MyEtherWallet -
        a(href="https://www.myetherwallet.com/" target="_blank") https://www.myetherwallet.com/
    el-dialog(:visible.sync="investDialog" :show-close="false")
      p Переведите не менее 0.01 ETH на этот адрес:
        br
        | (gas: 300000, gas price: 6 gwei min.)
        br
        | {{contractAddress}}
    el-dialog(:visible.sync="checkTransactionDialog" :show-close="false")
      p Вы можете заказывать выплату дивидендов в любое удобное время. Но не раньше 24 часов с момента первого депозита.
      br
      |  Для заказа выплат отправьте 0 ETH на смарт-контракт
      a(:href="seeContractLink" target="_blank")  {{contractAddress}}
</template>

<script>
import AppLogo from '~/components/AppLogo.vue'

export default {
  components: {
    AppLogo
  },
  data() {
    return {
      createWalletDialog: false,
      investDialog: false,
      checkTransactionDialog: false,
      ethereum: 0,
      usd: 170,
      contractAddress: '0x6C0954c1885B5267F0D05be42A8C063BDE2f9219',
      activeAccord: '0',
      selectedLang: null,
      languages: {
        ru: {
          icon: require('~/assets/img/ru.png'),
          title: 'Русский',
          route: {
            name: 'index',
          },
        },
        en: {
          icon: require('~/assets/img/us.png'),
          title: 'English',
          route: {
            name: 'english',
          },
        },
      },
      questions: [
        {
          quest: 'Насколько это безопасно?',
          answer: 'Смарт-контракт, по алгоритму которого работает проект, загружен в блокчейн Ethereum с активированной ' +
            'функцией "отказа от владения". Это означает, что никто больше не имеет к нему доступа с возможностью ' +
            'влиять на его автономную работу.',
        },
        {
          quest: 'Что будет с проектом, если его разработчики пропадут?',
          answer: 'Проект уже изначально полностью автономный и живет в сети, разработчики больше никак не смогут ' +
            'на него повлиять.',
        },
        {
          quest: 'Как участвовать в реферальной программе?',
          answer: 'В реферальной программе участвуют только адреса кошельков вкладчиков. При указании вас реферером ' +
            'вы будете получать 5% от каждой инвестиции вашего реферала! Ваш реферал получит моментальный кэшбэк 5% ' +
            'от инвестируемой суммы.\n' +
            'РЕФЕРАЛ БУДЕТ ВОЗНАГРАЖДЕН!\n' +
            'Для получения 5% кешбека за приглашения, человеку, которого вы пригласили, нужно указать в поле data ваш ' +
            'адрес кошелька, после чего 5% от суммы вклада вещего друга будут переведены на его кошелек.\n',
        },
        {
          quest: 'Сколько можно заработать?',
          answer: 'Вам ежедневно будут начисляться дивиденды, вплоть до достижения двукратной окупаемости от ' +
            'изначально инвестированной вами суммы. Максимальная прибыль составит 200% включая депозит.\n' +
            'По достижению двукратной окупаемости, вы можете произвести новую инвестицию на любую сумму.',
        },
      ],
    }
  },
  mounted() {
    if (this.$route.name === 'index') {
      this.selectedLang = this.languages.ru;
    } else {
      this.selectedLang = this.languages.en;
    }
    this.getBalance();
  },
  methods: {
    handleCommand(command) {
      this.$router.push(command.route);
    },
    async getBalance() {
      try {
        const data = await this.$axios.$get(`https://api.etherscan.io/api`, {
          params: {
            module: 'account',
            action: 'balance',
            address: this.contractAddress,
            tag: 'latest'
          },
        });
        if (data.result !== "0") {
          this.ethereum = (+data.result / 1000000000000000000).toFixed(2);
        }
        this.getEthereumPrice();
      } catch (reject) {
        console.log(reject);
      }
    },
    async getEthereumPrice() {
      try {
        const data = await this.$axios.$get(`https://api.etherscan.io/api`, {
          params: {
            module: 'stats',
            action: 'ethprice',
          },
        });
        if (data.result) {
          this.usd = (+data.result.ethusd * this.ethereum).toFixed(2);
        }
      } catch (reject) {
        console.log(reject);
      }
    },
  },
  computed: {
    seeContractLink() {
      return 'https://etherscan.io/address/' + this.contractAddress;
    },
  },
}
</script>

<style>

</style>

